################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/medical/FileContentIndex/41a58c5f-92bd-4a5f-b167-111ad411af3e.vsidx
/.vs/medical/FileContentIndex/5be4dc90-ba69-4b8e-92c2-2865b6a791eb.vsidx
/.vs/medical/FileContentIndex/73b775ca-d772-4da8-9457-ad4c6aae525c.vsidx
/.vs/medical/FileContentIndex/80301efd-7391-4f51-8566-048627611b21.vsidx
/.vs/medical/FileContentIndex/d9adcc9e-7ea8-4837-9ebf-09451d6431a8.vsidx
